* {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: azure;
}

body {
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

nav {
  background-color: rgba(24, 25, 26, 0.5);
  padding: 1em;
  height: 10vh;
}

nav > div {
  height: 100%;
  width: 100%;
  align-items: center;
}

#login-btn {
  display: block;
  padding: 0.5em 2em;
  font-weight: 700;
  font-size: 20px;
}

#logout-btn {
  padding: 0.5em 2em;
  font-weight: 700;
  font-size: 20px;
}

#profile-btn {
  display: none;
  background-color: transparent;
  border: none;
  height: 100%;
  width: auto;
  outline: none;
}

#profile-btn > img {
  width: auto;
  height: 100%;
  border-radius: 50%;
}

#profile-btn > img:hover {
  box-sizing: border-box;
  border: 2px solid #1c7bff;
  border-radius: 50%;
}

#controls button {
  margin: 1rem;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.dropdown-menu {
  background-color: rgba(24, 25, 26, 0.6);
  min-width: 8.5rem;
}

.dropdown-item {
  color: azure;
}

#profile-dropdown {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10vh;
  width: 20vw;
  background-color: rgba(24, 25, 26, 0.3);
  padding-bottom: 1em;
  border-bottom-left-radius: 1em;
}

#highscores {
  height: 100%;
  padding: 1em;
}

#highscores .row {
  justify-content: space-between;
  align-items: center;
}

#highscore-title {
  font-weight: 800;
  font-size: large;
}

#highscore-number {
  font-weight: 800;
  font-size: large;
}

#logout-btn {
  display: flex;
  justify-content: center;
  align-self: center;
}

#logout-btn > button {
  width: 100%;
  padding: 0.2em 0;
}

.help {
  position: absolute;
  margin: 2.5em 8em;
}

#tooltip {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 22px;
  line-height: 1.33;
  border-radius: 35px;
  color: white;
  background-color: black;
  border-color: black;
}

.tooltip-inner {
  padding: 1em;
  min-width: 25vw;
  height: auto;
}
