* {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: azure;
}

body {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

nav {
  background-color: rgba(24, 25, 26, 0.5);
  padding: 1em;
  height: 10vh;
}

nav > div {
  height: 100%;
  width: 100%;
}

nav h1 {
  margin-right: 1em;
  text-align: center;
}

#login-btn, #logout-btn, #profile-btn {
  padding: 0 2em;
  font-weight: 700;
  font-size: 20px;
}
#login-btn {
  display: block;
}

#profile-btn {
  display: none;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  height: 100%;
  width: auto;
}

#profile-btn > img {
  border-radius: 50%;
  width: auto;
  height: 100%;
}
/*#logout-btn {
  display: block;
}*/

#controls button {
  margin: 1rem;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.dropdown-menu {
  background-color: rgba(24, 25, 26, 0.3);
}

.dropdown-item {
  color: azure;
}

.profile-dropdown-menu {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#profile-dropdown {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10vh;
  width: 20vw;
  background-color: rgba(24, 25, 26, 0.3);
  padding-bottom: 1em;
  border-bottom-left-radius: 1em;
}

#profile-dropdown {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10vh;
  width: 20vw;
  background-color: rgba(24, 25, 26, 0.3);
  padding-bottom: 1em;
  border-bottom-left-radius: 1em;
}

#highscores {
  height: 100%;
  padding: 1em;
}

#highscores .row {
  justify-content: space-between;
  align-items: center;
}

#highscore-title {
  font-weight: 800;
  font-size: large;
}

#highscore-number {
  font-weight: 800;
  font-size: large;
}

#logout-btn {
  display: flex;
  justify-content: center;
  align-self: center;
}

#logout-btn > button {
  width: 100%;
  padding: .2em 0;
}
.show {display:block;}