#maze-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vh;
  height: 80vh;
  padding: 15px;
  background-color: rgba(67, 70, 67, 0.3);
  border-radius: 1em;
}

@media only screen and (max-width: 768px) {
  #maze-container {
    width: 95vw;
    height: 95vw;
  }
}

#maze-canvas {
  display: flex;
  width: 100%;
  height: 100%;
}

#maze {
  width: 100%;
  height: 100%;
  border: 2px rgba(47, 50, 47, 0.7) solid;
  border-radius: 0.2em;
  z-index: 2;
}

.maze-row {
  display: flex;
  width: 100%;
  height: 10%;
}

.maze-column {
  display: flex;
  width: 10%;
  height: 100%;
}

.maze-cell {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maze-column:not(:last-of-type) .maze-cell {
  border-right: 2px rgba(47, 50, 47, 0.7) solid;
}

.finish {
  background-color: lightgreen;
  border-bottom-right-radius: 0.1em;
}

.start {
  border-top-left-radius: 0.1em;
  background-color: darkred;
}

#maze .gap {
  border-right: none;
}

#character {
  width: 100%;
  height: 100%;
}

#character > img {
  width: 100%;
  height: 100%;
}

#target {
  width: 100%;
  height: 100%;
}

#target > img {
  width: 100%;
  height: 100%;
}

#win-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 20vw;
  background-color: green;
  z-index: 3;
}
