@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
* {
  font-family: "Nunito", sans-serif;
  font-size: large;
  color: azure;
}

body {
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

nav {
  background-color: rgba(24, 25, 26, 0.5);
  padding: 1em;
  height: 10vh;
}

nav > div {
  height: 100%;
  width: 100%;
  align-items: center;
}

#login-btn {
  display: block;
  padding: 0.5em 2em;
  font-weight: 700;
  font-size: 20px;
}

#logout-btn {
  padding: 0.5em 2em;
  font-weight: 700;
  font-size: 20px;
}

#profile-btn {
  display: none;
  background-color: transparent;
  border: none;
  height: 100%;
  width: auto;
  outline: none;
}

#profile-btn > img {
  width: auto;
  height: 100%;
  border-radius: 50%;
}

#profile-btn > img:hover {
  box-sizing: border-box;
  border: 2px solid #1c7bff;
  border-radius: 50%;
}

#controls button {
  margin: 1rem;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.dropdown-menu {
  background-color: rgba(24, 25, 26, 0.6);
  min-width: 8.5rem;
}

.dropdown-item {
  color: azure;
}

.circle {
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: #6c757d;
  border-color: #6c757d;
  margin: 1rem;
  padding: 0.5em;
  font-size: 1.25rem;
  /*line-height: 1.5;*/
  border-radius: 0.3rem;
}

#reset {
  background-color: #cc0000;
  border-color: #cc0000;
  border-radius: 0.3rem;
}

#reset:hover {
  background-color: #b30000;
}

#profile-dropdown {
  /*display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  top: 0;
  right: 0;
  margin-top: 10vh;
  width: 100vw;
  height: 90vh;
  padding: 2%;
  padding-bottom: 0;
  background-color: rgba(24, 25, 26, 0.95);
  border-bottom-left-radius: 1em;
  z-index: 10;*/
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10vh;
  width: 20vw;
  background-color: rgba(24, 25, 26, 0.3);
  padding-bottom: 1em;
  border-bottom-left-radius: 1em;
}
#highscores {
  height: 100%;
  padding: 1em;
}

#highscores .row {
  justify-content: space-between;
  align-items: center;
}

#highscore-title {
  display: inline-block;
  font-weight: 800;
  font-size: large;
}

#profile-dropdown #highscore-number {
  position: absolute;
  right: 20px;
  display: inline-block;
  font-weight: 800;
  font-size: large;
}
#matches-history > #highscores {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
}

#matches-history > #highscores div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logout-btn {
  display: flex;
  justify-content: center;
  align-self: center;
}

#logout-btn > button {
  width: 100%;
  padding: 0.2em 0;
}

.help {
  position: absolute;
  margin: 2.5em 8em;
}

#tooltip {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 22px;
  line-height: 1.33;
  border-radius: 35px;
  color: white;
  background-color: black;
  border-color: black;
}

.tooltip-inner {
  padding: 1em;
  min-width: 25vw;
  height: auto;
}

#match-history-btn {
  display: flex;
  position: absolute;
  top: 20%;
  background-color: #343a40;
  border-color: black;
  border-radius: 0.3rem;
  padding: 0.5em 2em;
  font-weight: 700;
  font-size: 20px;
}
#matches-history {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  top: 0;
  right: 0;
  margin-top: 10vh;
  width: 100vw;
  height: 90vh;
  padding: 2%;
  padding-bottom: 0;
  background-color: rgba(24, 25, 26, 0.95);
  border-bottom-left-radius: 1em;
  z-index: 10;
}

#matches {
  /* background-color: rgb(67, 73, 80); */
  display: none;
  position: absolute;
  top: 30%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 90%;
  overflow-y: scroll;
  border-radius: 5px;
  background-color: rgba(24, 25, 26, 0.95);
  padding-top: 2em;
  z-index: 150;
}

#matches-title {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 2em;
}

.match {
  width: 20vw;
  height: 20vw;
  margin: 2em;
  position: relative;
}

.maze-map {
  width: 100%;
  height: 100%;
  background-color: black;
  /* test values */
  text-align: center;
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  z-index: 1;
}

.stats-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 2em;
  padding-top: 2em;
  width: 100%;
  height: 100%;
  background-color: rgba(63, 60, 60, 0.75);
  z-index: 10;
}

/* .stats-overlay:hover {
  display: none;
} */

.difficulty,
.time,
.score {
  display: flex;
  width: 80%;
  height: 100%;
}

.difficulty > .icon,
.time > .icon,
.score > .icon {
  font-size: 150%;
  padding-right: 1em;
}

.difficulty > p,
.time > p,
.score > p {
  font-size: 150%;
}

#matches::-webkit-scrollbar {
  width: 15px; /* width of the entire scrollbar */
  height: 20px;
}
#matches::-webkit-scrollbar-track {
  background: none; /* color of the tracking area */
}
#matches::-webkit-scrollbar-thumb {
  background-color: rgba(209, 208, 208, 0.4); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.stats-overlay > button {
  background-color: rgba(209, 208, 208, 0.4);
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.maze-map > button {
  background-color: rgba(209, 208, 208, 0.4);
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 20;
}

#closeButton {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(209, 208, 208, 0.4);
  color: black;
}

#transform {
  margin-left: 12.5%;
  width: 75%;
  background-color: #343a40;
  border-radius: 0.3rem;
  font-size: 1.25rem;
  line-height: 1.5;
}
